target

# Eclipse, IntelliJ, NetBeans and Visual Studio Code files
.project
.classpath
.settings
.idea
.vscode
*.ipr
*.iws
*.iml
nbproject
.factorypath

# Mac DS_Store files
.DS_Store

# Temporary files created by Surefire in Windows
TempWmicBatchFile.bat
